@font-face {
  font-family: comfortaa;
  src: url(./assets/Comfortaa-Bold.woff);
}

#dex-container {
  width: 100%;
  height: 100%;
  font-family: comfortaa;
  color: white;
}

#vertical-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
